/*Author CSSensei - Octavian Cioaca - http://cssensei.com */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, input, select, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a,
address, caption, cite, code, dfn, em, strong, th, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ul, ol {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}
